@import "../../styles/main.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include breakpoint-xs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
