@import "../styles/main.scss";

.container {
  grid-column: 2 / -2;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links__container {
  display: none;
  @include breakpoint-xs {
    display: block;
  }
}

.links {
  display: flex;
  gap: 32px;
}

.menuIcon__container {
  @include breakpoint-xs {
    display: none;
  }
}
