// color palette

// primary
$primary-main: #1f7fd1;
$primary-light: #e4f2ff;
$primary-dark: #093f7c;

// secondary
$secondary-main: #ffec00;
$secondary-light: #fff7b2;
$secondary-dark: #f4db00;

// tertiary
$tertiary-main: #f29100;
$tertiary-light: #ffdfb7;
$tertiary-dark: #e27e00;

// extended
$extended-main: #bbbbbb;
$extended-light: #efefef;
$extended-dark: #767676;

// base
$base-light: #ffffff;
$base-dark: #363636;
